body{
    background-color: royalblue;
    background-image:url("../images/5.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70;
    height: 50%;
}
h1, h2,h3,p{
    text-align: center;
    font-style: oblique;
    color: blue;
}
img{
    width: 20%;
    height: 10%;
}

.text-center{
    text-align: center;
}

h4{
    color: brown;
} 
   
.YOUR ORDER{
    text-align: center;
}